@charset "utf-8";
@import "compass";

body {
  background-color: #f5f6f9;
  color:#464b58;
}

a {
  color:#1d2e5b;
  text-decoration: none;
  &:hover {
    color:#375194;
  }
}

.footermenu {
  padding-top:50px;
  padding-bottom:50px;
  background-size: cover;
  color:#FFF;
  a {
    color:#FFF;
  }
}


.tabbar--essence {
  background-color: #1b3e57;
  .tab {
    border-left:solid 1px rgba(#ffffff, 0.2);
    a,.title,.icon {color:#fff;}
    &:hover {
      background-color: lighten(#275575,5%);
    }
  }
}
