@charset "utf-8";
@import "compass";

@import "styles/_reset";
@import "styles/_layout";
@import "styles/_button";

body {
  background-color: #f5f6f9;
  color:#464b58;
}

pre {
  font-size:14px;
  line-height: 100%;
  padding:5px;
  margin: 0;
  width: 100%;
  background-color: #e2e6ed;
  color:#6b727e;
  border:solid 1px #cbd1dd;
  @include border-radius(5px);
}
code {
  margin: 0;
  padding: 0;
  line-height: 160%;
}


article.contents{
  h2 {
    font-size:35px;
    font-weight: bold;
    line-height: 100%;
    margin: 0;
    padding: 0;
  }
  h3 {
    font-size:18px;
    font-weight: bold;
  }
  .block {
    margin-bottom:40px;
    &:last-child {
      margin-bottom:40px;
    }
  }
}

.separate__bottom{
  margin-bottom:80px;
  padding-bottom:80px;
  border-bottom:1px solid #e7eaf1;
}
