.btn {
  display: inline-block;
  background-color:none!important;
  padding:8px 5px;
  font-size:15px;
  cursor: pointer;
}
.btn--ghost {
  background-color:transparent;
  border:solid 1px #FFF;
  color:#FFF;
}
.btn--block {
  width: 100%;
}
